[Desktop Entry]
Version=1.0
Name=installCore
Exec=python3 /home/jonathan/Development/core-linux/core-linux-live/core/airootfs/core-installation/installCore.py
Type=Application
Icon=/home/jonathan/Development/core-linux/core-linux-live/core/airootfs/core-installation/.assets/icon.png
Terminal=false
Categories=Utility
Comment=Install Core Linux.
Keywords=Core;Installation;
StartupNotify=true
StartupWMClass=installCore



