[Desktop Entry]
Version=1.0
Name=installCore
Exec=/usr/bin/python3 /core-installation/installCore.py
Icon=/core-installation/.assets/icon.png
Terminal=false
Type=Application
Categories=Utility
StartupNotify=true
StartupWMClass=installCore



